<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
<head>
    <meta charset="utf-8">
    <title>SHOE RACK</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
</head>

<body>
    
   
    <main class="main">
        <div class="page-header breadcrumb-wrap bg-dark">
            <div class="col-md-6">
               
               <h4 class="text-white ">Looks like you forgot password! Verify your Phone number  </h4>
              
            </div>
        </div>
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> forgot password
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                
                    <div class="col-lg-10 m-auto">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-5">
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30">Verification</h3>
                                        </div>
                                        <form method="post" action="/forgotverification">
                                            <div class="form-group">
                                                
                                                <input id="emailInput" name="email" value="<%=email%>" hidden>
                                                <input id="phoneInput" name="phone" value="<%=phone%>" hidden>
                                                <input type="text" required="" name="otp" placeholder="Enter OTP">
                                            </div>
                                            <div class="login_footer form-group">
                                                <div id="countdown"></div>
        
                                              
                                                
                                                <a id="resendButton" class="text-muted" onclick="resendOTP()" >Resend OTP</a>
        
        
                                            </div>
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Verify</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                            
                        </div>
                    </div>
            
            </div>
        </section>
    </main>
  
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        let timeLeft = 60;
        let resendButton = document.getElementById('resendButton');
      
        function updateTimer() {
          const countdownElement = document.getElementById('countdown');
          countdownElement.innerHTML = `Resend otp in ${timeLeft} seconds`;
      
          if (timeLeft > 0) {
            timeLeft--;
            setTimeout(updateTimer, 1000);
          } else {
            countdownElement.innerHTML = '';
            resendButton.style.display = 'inline'; // Show the button
          }
        }
      
        function startTimer() {
          updateTimer();
          resendButton.style.display = 'none'; // Hide the button when timer starts
        }
      
       
        startTimer();
      </script>
         <script>
    function resendOTP() {
    // Get values from hidden inputs
    var email = document.getElementById('emailInput').value;
    var phone = document.getElementById('phoneInput').value;
  
    // Construct the URL with query parameters
    var url = `/resend-forgototp?email=${encodeURIComponent(email)}&phone=${encodeURIComponent(phone)}`;
  
    // Set the new URL for the "Resend OTP" link
    document.getElementById('resendButton').href = url;
}



            </script>


<%if(msg){%>
    <script>
       document.addEventListener('DOMContentLoaded', function(){
              invalidOTP()
       });
        </script>  
 <%}%>
<!-- <script>
    function resendOTP() {
        // Get values from hidden inputs
        var name = document.getElementById('nameInput').value;
        var email = document.getElementById('emailInput').value;
        var phone = document.getElementById('phoneInput').value;
        var password = document.getElementById('passwordInput').value;
    
        // Construct the URL with query parameters
        var url = '/resend-otp?name=' + encodeURIComponent(name) + '&email=' + encodeURIComponent(email) + '&phone=' + encodeURIComponent(phone) + '&password=' + encodeURIComponent(password);
    
        // Set the new URL for the "Resend OTP" link
        document.getElementById('resendButton').href = url;
    }
    </script> -->
    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/maind134.js?v=3.4"></script>
    <script src="assets/js/userValidate.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" ></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>